// Sidenav

.sidenav {
  position: absolute;
  z-index: 10;
  background-color: #373b53;
  top: 0;
  bottom: 0;
  width: 100px;
  border-radius: 0px 20px 20px 0px;

  .logo-container {
    background-color: #7c5dfa;
    height: 90px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 35px;
    }
  }
}
