<div class="sidenav">
  <div class="logo-container"><img src="/assets/logo.svg" alt="" /></div>
</div>

<mat-drawer-container class="example-container" autosize>
  <!-- Sidenav -->

  <mat-drawer #drawer mode="side">
    <h1>Create new Invoice</h1>
    <!-- Form -->
    <form action="">
      <h2>Bill From</h2>
      <div class="column-1">
        <label for="">Street Adress</label>
        <input type="text" />
      </div>
      <div class="column-3">
        <div>
          <label for="">City</label>
          <input type="text" />
        </div>
        <div>
          <label for="">PostCode</label>
          <input type="text" />
        </div>
        <div>
          <label for="">Country</label>
          <input type="text" />
        </div>
      </div>
      <h2>Bill to</h2>
      <div class="column-1">
        <label for="">Client's Name</label>
        <input type="text" />
      </div>
      <div class="column-1">
        <label for="">Client's Email</label>
        <input type="text" />
      </div>
      <div class="column-1">
        <label for="">Street Adress</label>
        <input type="text" />
      </div>
      <div class="column-3">
        <div>
          <label for="">City</label>
          <input type="text" />
        </div>
        <div>
          <label for="">PostCode</label>
          <input type="text" />
        </div>
        <div>
          <label for="">Country</label>
          <input type="text" />
        </div>
      </div>
      <div class="column-2">
        <div class="direction-column">
          <label for="">date</label>
          <input type="text" />
        </div>
        <div class="direction-column">
          <label for="">payment terms</label>
          <input type="text" />
        </div>
      </div>
      <div class="column-1">
        <label for="">Project Description</label>
        <input type="text" />
      </div>
    </form>
  </mat-drawer>

  <!-- Header -->
  <div class="header">
    <div class="header-text">
      <h1>Invoice</h1>
      <h3>There are 0 total invoces</h3>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value?.[0] || ''}}
          <span
            *ngIf="(toppings.value?.length || 0) > 1"
            class="example-additional-selection"
          >
            (+{{ (toppings.value?.length || 0) - 1 }}
            {{ toppings.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
          topping
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      class="btn-sidenav"
      type="button"
      mat-button
      (click)="drawer.toggle()"
    >
      new Invoice
    </button>
  </div>
  <!-- Invoices -->
  <div class="invoice-container">
    <mat-card>Invoice</mat-card>
    <mat-card>Invoice</mat-card>
    <mat-card>Invoice</mat-card>
    <mat-card>Invoice</mat-card>
    <mat-card>Invoice</mat-card>
  </div>
</mat-drawer-container>

<!-- 
Invoices There are -->
<!-- Add number here -->
<!-- total invoices Filter by status Draft Pending Paid New Invoice -->

<!-- No invoices -->
<!-- There is nothing here Create an invoice by clicking the New Invoice button and
get started -->
<!-- No invoices end -->

<!-- Create new invoice form -->
<!-- Go back New Invoice Bill From Street Address City Post Code Country Bill To
Client's Name Client's Email e.g. email@example.com Street Address City Post
Code Country Invoice Date Payment Terms Net 1 day Net 7 days Net 14 days Net 30
days Project Description e.g. Graphic Design Service Item List Item Name Qty.
Price Total Add New Item Discard Save as Draft Save & Send -->
<!-- Create new invoice end -->
