<div class="invoice-container">
  <button [routerLink]="''">back</button>
  <mat-card>
    <span class="name">{{ invoiceId["clientsName"] }}</span>
    <span class="totalPrice">{{ invoiceId["totalPrice"] }}</span>
    <span class="status">Pending</span>
  </mat-card>
  <mat-card class="invoice-details">
    <div class="detail-header">
      <div class="project-identification">
        <span class="id">#{{ id }}</span>
        <span>{{ invoiceId["projectDescription"] }}</span>
      </div>
      <div class="location">
        <span>{{ invoiceId["streeAdressFrom"] }}</span>
        <span>{{ invoiceId["cityFrom"] }}</span>
        <span>{{ invoiceId["postCodeFrom"] }}</span>
        <span>{{ invoiceId["countryFrom"] }}</span>
      </div>
    </div>

    <table>
      <tr>
        <th>Invoice Date</th>
        <th>Bill To</th>
        <th>Sent to</th>
      </tr>
      <tr>
        <td>18.07.1996</td>
        <td>{{ invoiceId["clientsName"] }}</td>
        <td>{{ invoiceId["clientsEmail"] }}</td>
      </tr>
      <tr>
        <th>Invoice Date</th>
      </tr>
      <tr>
        <td style="vertical-align: baseline">18.08.2023</td>
        <td class="clientLocation">
          <span>{{ invoiceId["streeAdressto"] }}</span>
          <span> {{ invoiceId["cityTo"] }}</span>
          <span>{{ invoiceId["postCodeTo"] }}</span>
          <span>{{ invoiceId["countryTo"] }}</span>
        </td>
      </tr>
    </table>
    <mat-card class="price-info">
      <table>
        <tr>
          <th>Invoice Date</th>
          <th>Bill To</th>
          <th>Sent to</th>
          <th>blabla</th>
        </tr>
        <tr>
          <td>18.07.1996</td>
          <td>{{ invoiceId["clientsName"] }}</td>
          <td>{{ invoiceId["clientsEmail"] }}</td>
          <td>18.07.1996</td>
        </tr>
      </table>
      <div class="total-price">
        <span style="font-size: 18px">amount</span>
        <span style="font-size: 32px">$ 450</span>
      </div>
    </mat-card>
  </mat-card>
</div>
