.invoice-container {
  margin: 100px 200px 0px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

mat-card {
  margin-top: 20px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .name {
    width: 300px;
    display: flex;
    align-items: center;
  }

  .totalPrice {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: left;
    width: 50px;
  }

  .status {
    background-color: rgb(235, 174, 174, 0.4);
    color: red;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 5px;
  }
}

.invoice-details {
  height: 500px;
  font-weight: 500;
  font-size: 11px;
  color: #7e88c3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .detail-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .project-identification {
    display: flex;
    flex-direction: column;

    .id {
      font-weight: 700;
      font-size: 16px;
      color: black;
    }
  }

  .location {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 11px;
    color: #7e88c3;
  }

  table {
    margin-top: 30px;
    th {
      text-align: left;
      font-weight: 500;
    }

    td {
      font-weight: 700;
      font-size: 15px;
      color: black;
    }

    .clientLocation {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 11px;
      color: #7e88c3;
      position: relative;
      top: -30px;
    }
  }

  .price-info {
    width: 96%;
    height: 300px;
    margin: 0 auto;
    background-color: #f9fafe;
    padding-bottom: 100px;

    table {
      width: 100%;
      margin: 0;

      tr {
        height: 30px;
      }
    }

    td {
      height: 20px;
      font-weight: 500;
    }
    .total-price {
      background-color: #373b53;
      color: white;
      border-radius: 0px 0px 3px 3px;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
